<% if (site.posts.length) { %>
    <div class="widget-wrap widget-list">
        <h3 class="widget-title"><%= __('sidebar.communiation') %></h3>
        <div class="widget">
            <!--fangzhyx@foxmail.com-->
		<p>fangzhyx@foxmail.com</p>
        </div>
    </div>
<% } %>
